<!-- Main content, "About Me" edit form -->
<div class="row">

  <main class="panel panel-default about-main">

    <header class="panel-heading">
      <h2 class="panel-title">About</h2>
    </header>

    <%= render partial: 'profile_form', locals: {profile: @user.profile} %>

  </main>

</div><!-- End main row -->    