<%= render partial: "shared/profile_cover_photo", locals: {user: @user} %>

<%= render partial: "shared/middle_nav", locals: {user: @user} %>

<!-- Main content, "About Me" edit form -->
<div class="row">

  <main class="panel panel-default about-main">

    <header class="panel-heading">
      <h2 class="panel-title">About</h2>
    </header>

    <%= render partial: 'edit_user_form', locals: {user: @user} %>

  </main>

</div><!-- End main row -->    