<div class="col-xs-6 col-md-3 photo-gallery">
  <%= link_to_if_with_block(friends_only, photo_path(photo), class: "thumbnail") do %>
    <%= image_tag photo.image.url(:small) %>
    <div class="timestamp">Added 
        <time datetime="<%= photo.created_at.strftime('%Y/%-m/%-d') %>">
        <%= photo.created_at.strftime('%A %-m/%-d/%Y') %>
      </time>
    </div>
  <% end %>
</div>
