// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form .form-horizontal label {
  text-align: left;
  font-weight: normal;
}

.search-results-count {
  color: #bbb;
  font-style: italic;
  margin-top: 20px;
}


.search-results {
  margin-top: 20px;
  img {
    width: 140px;
  }
  li {
    vertical-align: middle;
  }
  ul {
    margin-bottom: 0px;
  }
  .pull-right {
    line-height: 140px;
  }
  p {
    padding-top: 10px;
  }
}